<div class="dashboard_wid-daily-shift text-center">
	<div id="holiday-barchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<script>
Highcharts.chart("holiday-barchart", {
    chart: {
        type: "column"
    },
    title: {
        text: "Team Holiday & Leave"
    },
    xAxis: {
        categories: [
            "Sun",
            "Mon",
            "Tue",
            "Wed",
            "Thu",
            "Fri",
            "Sat"
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: "Team Members"
        }
    },
    credits: {
    	enabled: false
    },
    tooltip: {
        headerFormat: "<span style='font-size:10px'>{point.key}</span><table>",
        pointFormat: "<tr><td style='color:{series.color};padding:0'>{series.name}: </td>" +
            "<td style='padding:0'><b>{point.y:.1f} </b></td></tr>",
        footerFormat: "</table>",
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{ widget_data }}
});
</script>